oauth
simplejson>=2.0.0
httplib2>=0.4.0
-e svn+http://svn.sixapart.com/repos/typeapp/branches/feature-package/libraries/python/remoteobjects/#egg=remoteobjects
-e svn+http://svn.sixapart.com/repos/typeapp/branches/feature-package/libraries/python/batchhttp/#egg=batchhttp
